---
version: '3.6'

x-base:
    &base
    pid: host
    network_mode: bridge
    logging:
        driver: json-file
    restart: always

x-nginx:
    &nginx
    <<: *base
    image: nginx:1.15-alpine
    expose:
    - 80
    volumes:
    - ./info.php:/var/www/info.php:ro
    - ./server.conf:/etc/nginx/conf.d/default.conf:ro

x-php:
    &php
    <<: *base
    image: php:7.2-fpm-alpine
    volumes:
    - ./info.php:/var/www/info.php:ro

services:
{% for n in range(1, pair_count+1) %}
    php_{{ n }}:
        <<: *php

    nginx_{{ n }}:
        <<: *nginx
        links:
        - php_{{ n }}:php
        ports:
        - {{ local_ip }}:{{ start_port + n }}:80
{% endfor %}
...
