upstream backend {
{% for n in range(1, pair_count+1) %}
  server {{ local_ip }}:{{ start_port + n }} max_fails=1;
{% endfor %}
}

server {
  location / {
    proxy_pass  http://backend;
    proxy_next_upstream error http_502;
  }
}
